
    html, body {
        background-color: #fff;
        color: #636b6f;
        font-family: 'Nunito', sans-serif;
        font-weight: 200;
        margin: 0;
    }

    .welcome-title {
        font-family: 'Open Sans', sans-serif;
        font-size: 70px;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 1.1;
        text-align: center;
        margin-top: 15%;
    }

    .navbar-light .navbar-brand {
        font-family: 'Open Sans Condensed', sans-serif;
        font-weight: 700;
    }

    .button-row {
        display: flex;
    }

    .buttons {
        margin-left: auto;
        margin-right: auto;
    }

    button.btn.btn-success.btn-lg {
        margin: 35px 20px;
    }

    .center {
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
    }

    .container-form {
        margin-bottom: 25px;
        border: 1px solid #ccc;
        padding: 15px;
        border-radius: 10px;
    }

    .form-title {
        font-family: 'Open Sans', sans-serif;
        font-size: 20px;
        margin-bottom: 10px;
        font-weight: 700;
        color: #737373;
    }

    label {
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        margin-bottom: 5px;
    }

    .form-control {
        font-family: 'Open Sans', sans-serif;
        font-size: 13px;
        padding: 0 0 0 5px;
        margin-bottom: 10px;
    }

    .save-button {
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        text-transform: capitalize;
        padding: 4px 15px;
    }

    .card-columns {
        margin-top: 2%;
    }

    .authors {
        border: 2px solid #dadada;
    }

    .author {
        background-color: #dadada;
        border-bottom: 2px solid #dadada;
        color: #000000;
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 25px;
        padding: 5px 15px;
    }

    .card-title {
        font-family: 'Open Sans', sans-serif;
        font-size: 17px;
        color: #565656;
        margin-bottom: 10px;
    }

    
    @media only screen and (max-width: 600px) {
        .welcome-title {
            font-size: 45px;
        }
      }